body {
	background-color: #3a424d !important;
}
h1 {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 20px;
}
p {
	font-family: 'Helvetica Neue', sans-serif;
	color: #fff
}
.wrapper {

}
.block {
	width: 90%;
	margin: 0 auto;
	background-color: #008ec7;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 40px;
}
.block:hover {
	background-color: #363d47;
	border-color: transparent;
}
.block a {
	text-decoration: none;
	color: #fff;
}
.block a > p {
	color: #afe3f8;
}
.block_1 a {
	background-color: #008ec7;
	width: 377px;
	margin-bottom: 40px;
}
.block_1 a:hover {
	background-color: #363d47;
	border-color: transparent;
}
.block_padding {
	padding: 10px !important;
}
.logo {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}
.logo img {
	width: 215px;
}
.footer {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.cellphone {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.cellphone .num-color {
	font-size: 32px;
	color: #008ec7;
}
.contact_form {
	width: 90%;
	margin: 0 auto;
}
.form-group {
	padding-bottom: 20px;
}
.form-group textarea {
	height: 140px;
}
.form-control {
	width: 100%;
	font-size: 20px;
	border-radius: 3px;
	border: none;
	background-color: #eeeeee;
	padding: 12px 12px; 
}

.btn {
	background-color: #008ec7;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	padding: 20px;
	font-size: 20px;
}
.btn a {
	color: #fff;
	text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input, textarea {
  outline:none;
}
textarea:hover, input:hover{
  border: 2px solid rgba(52, 152, 219, 1);
}

textarea:focus, input:focus{
  border: 2px solid rgba(52, 152, 219, 1);
}
